<article class="insurance-cards">
  <app-title [title]="'Insurance Card'"></app-title>
  <div class="insurance-cards__content">
    <app-insurance-card [hasInsuranceCardImage]="cardWithImage"></app-insurance-card>
  </div>
  <footer>
    <h2>Component Inputs</h2>
    <ul>
      <li>
        <app-select
          [title]="'Has Insurance Card'"
          [selectedOption]="'yes'"
          [options]="['yes', 'no']"
          (updateOption)="(cardWithImage = ($event === 'yes'))">
        </app-select>
      </li>
    </ul>
  </footer>
</article>
