<section class="buttons">
  <app-title [title]="'Button'"></app-title>
  <div class="buttons__content">
    <app-button
      [type]="type"
      [size]="size"
      [hasBorderRadius]="hasBorderRadius"
      [title]="type"
      (btnClicked)="btnClick()">
    </app-button>
  </div>
  <footer class="buttons__footer">
    <form action="">
      <h2>Inputs</h2>
      <ul>
        <li>
          <app-select
            [title]="'Type'"
            [selectedOption]="'primary'"
            [options]="['primary', 'secondary', 'danger']"
            (updateOption)="(type = $event)">
          </app-select>
        </li>
        <li>
          <app-select
            [title]="'Size'"
            [selectedOption]="'small'"
            [options]="['small', 'medium', 'large']"
            (updateOption)="(size = $event)">
          </app-select>
        </li>
        <li>
          <app-select
            [title]="'Border Radius'"
            [selectedOption]="'yes'"
            [options]="['yes', 'no']"
            (updateOption)="(hasBorderRadius = ($event === 'yes'))">
          </app-select>
        </li>
      </ul>
      <h2 class="actions-title">Action</h2>
      <ul>
        <li>
          <p>Click Event</p>
        </li>
      </ul>
    </form>
  </footer>
</section>
