<section class="cards">
  <app-title [title]="'Card'"></app-title>
  <div class="cards__content">
    <app-card
      [hasCardImage]="hasCardImage"
      [isRoundedCard]="true"
      [imageUrl]="'assets/profile-pic.svg'"
      [title]="title"
      [btnLabel]="btnLabel"
      [content]="content || DEF_CONTENT">
    </app-card>
    <app-card *ngIf="hasCardImage"
      [hasCardImage]="hasCardImage"
      [isRoundedCard]="true"
      [imageUrl]="'assets/invalid.svg'"
      [title]="title"
      [btnLabel]="btnLabel"
      [content]="content || DEF_CONTENT">
    </app-card>
  </div>
  <footer class="cards__footer">
    <form action="">
      <h2 class="cards__actions">Inputs</h2>
      <ul class="cards__actions">
        <li>
          <app-select
            [title]="'Has Image'"
            [selectedOption]="'yes'"
            [options]="['yes', 'no']"
            (updateOption)="hasCardImage = ($event === 'yes')">
          </app-select>
        </li>
        <li class="cards__action">
          <app-input class="cards__input cards__card-title"
            [title]="'Card Title'"
            [size]="'small'"
            [placeholder]="'Enter Card title'"
            (contentUpdated)="title = $event">
          </app-input>
        </li>
        <li class="cards__action">
          <app-input
            class="cards__input cards__card-title"
            [title]="'Button Label'"
            [size]="'small'"
            [placeholder]="'Enter Button label'"
            (contentUpdated)="btnLabel = $event">
          </app-input>
        </li>
        <li class="cards__action">
          <label class="cards__action-title" for="content">Content</label>
          <textarea id="content" rows="4" cols="30" [(ngModel)]="content" name="content" maxlength="120" placeholder="Add content here" class="card__textarea"></textarea>
        </li>
      </ul>

      <h2 class="actions-title">Action</h2>
      <ul>
        <li>
          <p>Click Event</p>
        </li>
      </ul>
    </form>
  </footer>
</section>
